{% extends "base.html" %}
{% block title %}Panduan pengarahan{% endblock %}

{% block content %}
<div class="glass p-8 rounded-xl shadow-xl">
  <h2 class="text-3xl font-bold text-blue-400 mb-6">🛂 Dasar Hukum Surat Izin Mengemudi (SIM)</h2>

  <section class="mb-6">
    <h3 class="text-2xl font-semibold text-white mb-2">Apa Aja Sih Dasar Hukum Surat Izin Mengemudi ?</h3>
    <p class="text-gray-200">
      <strong>Dasar Hukum Surat Izin Mengemudi(SIM) </strong>
      ada beberapa dasar hukum yang mendasari surat izin mengemudi dari alasan mengapa pengendara harus memiliki sim, sanksi, dll. Berikut penjelasannya:
    </p><br><br>

    <h3 class="text-2xl font-semibold text-white mb-2">kewajiban memiliki SIM sudah diatur dalam Undang-Undang (UU) pasal 77 ayat 1 no. 22 tahun 2009 Tentang Lalu Lintas dan Angkutan Jalan.

    Dalam pasal tersebut, dijelaskan bahwa semua pengguna kendaraan bermotor wajib mempunyai SIM sesuai jenis kendaraannya.</h3><br>

    <h4 class="text-2xl font-semibold text-white mb-2">Sementara itu, terkait dengan sanksi untuk pengguna kendaraan yang tidak memiliki SIM, diatur dalam UU pasal 281 no. 22 tahun 2009.

    Pasal ini berbunyi ‘Setiap pengguna kendaraan bermotor di jalan yang tidak memiliki SIM sebagaimana dimaksud dalam pasal 77 ayat 1 dipidana dengan pidana kurungan paling lama empat bulan atau denda paling banyak Rp1 juta’.</h4><br><br>

    <h6 class="text-2xl font-semibold text-white mb-2">Selain itu, pengguna kendaraan juga wajib menunjukkan SIMnya pada petugas saat diminta atau terkena razia.

    Ini telah diatur dalam pasal 288 ayat 2 mengenai kewajiban memperlihatkan SIM oleh setiap pengguna kendaraan.

    Bagi pengguna kendaraan yang mempunyai SIM tapi tidak bisa menunjukkannya, akan tetap dikenai sanksi atau tilang.

    Namun, sanksi yang diberikan berbeda dengan pengguna kendaraan yang tidak memiliki SIM.

    Berdasarkan pasal 288 ayat 2, setiap pengguna kendaraan yang tidak bisa menunjukkan SIMnya sebagaimana dimaksud dalam pasal 106 ayat 5 huruf b bisa kena pidana berupa kurungan paling lama satu bulan atau denda paling banyak Rp250 ribu.

    Dengan demikian, Carmudian harus selalu membawa SIM setiap akan berkendara.</h6><br>

  </section><br>

  <div class="mt-10 text-center">
    <a href="/" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full transition">
      ⬅ Kembali ke Beranda
    </a>
  </div>
</div>
{% endblock %}
