{% extends "base.html" %}
{% block title %}Beranda - Panduan Warga{% endblock %}
{% block content %}
<div class="grid md:grid-cols-3 gap-6">
  <div class="glass p-6 rounded-xl hover:shadow-xl transition-all">
    <h2 class="text-xl font-semibold text-cyan-300 mb-2">📄 Pembuatan SIM</h2>
    <p>ChatBot ai yang bisa membantu perihal SIM.</p>
    <a href="/sim" class="text-cyan-400 hover:underline mt-4 inline-block">Buka</a>
  </div>
  <div class="glass p-6 rounded-xl hover:shadow-xl transition-all">
    <h2 class="text-xl font-semibold text-green-300 mb-2">🌾 Petani Pintar</h2>
    <p>ChatBot ai yang bisa membantu perihal pertanian terutama di bagian berawa.</p>
    <a href="/petani" class="text-green-300 hover:underline mt-4 inline-block">Buka</a>
  </div>
  <div class="glass p-6 rounded-xl hover:shadow-xl transition-all">
    <h2 class="text-xl font-semibold text-red-300 mb-2">🚨 Layanan Darurat</h2>
    <p>ChatBot ai yang bisa membantu memberikan no darurat, arahan pertolongan.</p>
    <a href="/darurat" class="text-red-300 hover:underline mt-4 inline-block">Buka</a>
  </div>
  <div class="glass p-6 rounded-xl hover:shadow-xl transition-all">
  <h2 class="text-xl font-semibold text-yellow-300 mb-2">⚖️ Hukum</h2>
  <p>ChatBot AI yang membantu memberikan informasi seputar hukum dan peraturan yang berlaku.</p>
  <a href="/hukum" class="text-yellow-300 hover:underline mt-4 inline-block">Buka</a>
</div>

</div>
{% endblock %}
