{% extends "base.html" %}
{% block title %}Panduan pengarahan{% endblock %}

{% block content %}
<div class="glass p-8 rounded-xl shadow-xl">
  <h2 class="text-3xl font-bold text-blue-400 mb-6">🛂 Surat Izin Mengemudi (SIM)</h2>

  <section class="mb-6">
    <h3 class="text-2xl font-semibold text-white mb-2">Bagaimana Sejarah Surat Izin Mengemudi Tercipta?</h3>
    <p class="text-gray-200">
      <strong>Fungsi Surat Izin Mengemudi(SIM)</strong>
      Setelah mengetahui jenis jenis SIM, ada baiknya kamu juga memahami fungsi dari Surat Izin Mengemudi. Sebagian orang masih menganggap kewajiban membuat SIM hanya untuk menghindari tilang dari kepolisian ketika ada razia dokumen atau legalitas SIM dan surat kendaraan.
    </p><br><br>

    <h3 class="text-2xl font-semibold text-white mb-2">Lantas, apa saja fungsi dari SIM? Berikut penjelasannya:</h3>
    <p class="text-gray-200">
      <strong>1. Bukti registrasi dan identifikasi</strong> Surat Izin Mengemudi berfungsi sebagai bukti registrasi dan identifikasi, khususnya bagi pihak Polri. Artinya, SIM menjadi keterangan nyata bahwa seseorang telah terdaftar sebagai pengemudi yang memenuhi persyaratan untuk berkendara di jalan raya.

    Sedangkan sebagai bukti identifikasi, SIM berperan sebagai tanda pengenal diri yang memuat informasi tentang pemilik. Informasi tersebut meliputi nama lengkap, alamat domisili, tempat tanggal lahir, jenis kelamin, jenis SIM dan masa berlaku.
    </p><br>

    <p class="text-gray-200">
      <strong>2. Bukti keahlian mengemudi</strong> Tentunya kamu mengetahui bahwa ketika hendak membuat SIM, maka kamu akan menjalani tes teori dan tes praktik. Dengan memiliki SIM, menjadi bukti bahwa keahlian kamu telah teruji.
    </p><br>

    <p class="text-gray-200">
      <strong>3. Dokumen pendukung</strong> Fungsi lain dari SIM adalah sebagai dokumen pendukung yang digunakan oleh pihak kepolisian untuk keperluan penyidikan dan penyelidikan. Selain itu, SIM kerap dijadikan data untuk identifikasi forensik oleh pihak kepolisian.
    </p><br>
  </section><br>

  <div class="mt-10 text-center">
    <a href="/" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-full transition">
      ⬅ Kembali ke Beranda
    </a>
  </div>
</div>
{% endblock %}
